Filtragem colaborativa  
Filtragem baseada em item.  
Market basquet analize - ferramenta de regras de associação.  

Por que um algoritmo de recomendação é importante. O que é um algoritmo de recomendação. Quais a técnicas utilizadas.  

Referencias  
https://www.kaggle.com/tientd95/pyspark-for-data-science

In [1]:
# Inicializando as bibliotecas 

from pyspark import SparkContext, SparkConf
from pyspark.sql.types import StructType, IntegerType, DateType, StringType,StructField, FloatType

In [2]:
# Create SparkSession

spark = SparkSession.builder.appName('recomendacao').getOrCreate()

In [3]:
# Convertendo os tipos das variaveis

schema = StructType([StructField('user_id', IntegerType()),
                     StructField('item_id', IntegerType()),
                     StructField('rating', IntegerType()),
                     StructField('item', StringType())
                    ])

In [4]:
# Importando o dataset

df = spark.read.schema(schema).option("header", True).format('csv').load('recomendacao.csv')

In [5]:
df.limit(5).toPandas()

   user_id  item_id  rating                                               item
0      186      302       3                           L.A. Confidential (1997)
1       22      377       1                                Heavyweights (1994)
2      244       51       2                         Legends of the Fall (1994)
3      166      346       1                                Jackie Brown (1997)
4      298      474       4  Dr. Strangelove or: How I Learned to Stop Worr...

In [6]:
# Exibindo o dataset

df.show(5)

+-------+-------+------+--------------------+
|user_id|item_id|rating|                item|
+-------+-------+------+--------------------+
|    186|    302|     3|L.A. Confidential...|
|     22|    377|     1| Heavyweights (1994)|
|    244|     51|     2|Legends of the Fa...|
|    166|    346|     1| Jackie Brown (1997)|
|    298|    474|     4|Dr. Strangelove o...|
+-------+-------+------+--------------------+
only showing top 5 rows

In [7]:
# Verificando todas as colunas.

df.columns

['user_id', 'item_id', 'rating', 'item']

In [8]:
# Verificando o Schema.

df.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- item: string (nullable = true)

In [11]:
# Qual o filme mais assistido?

cont_filme = df.groupBy(["item", "item_id"]).count().sort('count', ascending=False)
cont_filme.limit(1).toPandas()

               item  item_id  count
0  Star Wars (1977)       50    583

In [60]:
cont_filme.show()

+--------------------+-------+-----+
|                item|item_id|count|
+--------------------+-------+-----+
|    Star Wars (1977)|     50|  583|
|      Contact (1997)|    258|  509|
|        Fargo (1996)|    100|  508|
|Return of the Jed...|    181|  507|
|    Liar Liar (1997)|    294|  485|
|English Patient, ...|    286|  481|
|       Scream (1996)|    288|  478|
|                null|      1|  452|
|Air Force One (1997)|    300|  431|
|Independence Day ...|    121|  429|
|Raiders of the Lo...|    174|  420|
|Godfather, The (1...|    127|  413|
| Pulp Fiction (1994)|     56|  394|
|Twelve Monkeys (1...|      7|  392|
|Silence of the La...|     98|  390|
|Jerry Maguire (1996)|    237|  384|
|    Rock, The (1996)|    117|  378|
|Empire Strikes Ba...|    172|  367|
|Star Trek: First ...|    222|  365|
|      Titanic (1997)|    313|  350|
+--------------------+-------+-----+
only showing top 20 rows